.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background-color: #fafafa;
}
.logo {
  height: 3rem;
  width: auto;
}
.navbar > ul,
.nav-list {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  list-style: none;
  background-color: #fafafa;
}
.navbar > ul > li,
.nav-item {
  margin-left: 26px;
  padding: 1rem 0;
}
.navbar > ul > li > a,
.nav-item > a {
  text-decoration: none;
  color: black;
}

.logo-menu {
  display: none;
}
.menu-navbar {
  display: none;
}

/* ESTILOS */
.navbar-shadow {
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 var(--gray-400);
}

@media (max-width: 1024px) {
  .navbar {
    position: relative;
  }
  .navbar > ul,
  .nav-list {
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #fafafa;
    z-index: 1;
  }
  .nav-item {
    width: 100%;
    margin-left: 0;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  }
  .nav-item:first-of-type {
    border-radius: 1rem 1rem 0 0;
  }
  .nav-item:last-of-type {
    border-radius: 0 0 1rem 1rem;
  }
  .logo-menu {
    display: flex;
    width: 20px;
    height: 20px;
  }
  .menu-navbar:checked ~ ul {
    display: flex;
  }
  /* ESTILOS */
  .navbar.navbar-shadow > ul {
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 var(--gray-400);
  }
}
